[Unit]
Description=Mock client service
After=syslog.target

[Service]
Environment=DEBUG=*:log
ExecStart=/usr/bin/mock-client
ExecStop=/bin/rm -f /var/run/mock-client.pid
User=mockclient
Group=mock
Restart=on-failure

[Install]
WantedBy=multi-user.target
