[Unit]
Description=Mock client service
After=syslog.target

[Service]
Environment=DEBUG=*:log
ExecStart=/usr/bin/su -l mockclient -c /usr/bin/mock-client
Restart=on-failure

[Install]
WantedBy=multi-user.target
